# Reading data from files

In [33]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
data_X = pd.read_csv('C:\\Users\\Hamza Ali Joiyah\\Desktop\\Data Science Project\\UCI HAR Dataset\\UCI HAR Dataset\\train\\X_train.txt', sep = "delimiter", header = None)

C:\Users\Hamza Ali Joiyah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [30]:
data_y = pd.read_csv('C:\\Users\\Hamza Ali Joiyah\\Desktop\\Data Science Project\\UCI HAR Dataset\\UCI HAR Dataset\\train\\y_train.txt', sep = "delimiter", header = None)

C:\Users\Hamza Ali Joiyah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [34]:
data_y

      0
0     5
1     5
2     5
3     5
4     5
5     5
6     5
7     5
8     5
9     5
10    5
11    5
12    5
13    5
14    5
15    5
16    5
17    5
18    5
19    5
20    5
21    5
22    5
23    5
24    5
25    5
26    5
27    4
28    4
29    4
...  ..
7322  2
7323  2
7324  2
7325  2
7326  2
7327  2
7328  2
7329  2
7330  2
7331  2
7332  2
7333  2
7334  2
7335  2
7336  2
7337  2
7338  2
7339  2
7340  2
7341  2
7342  2
7343  2
7344  2
7345  2
7346  2
7347  2
7348  2
7349  2
7350  2
7351  2

[7352 rows x 1 columns]

In [35]:
subject_train = pd.read_csv('C:\\Users\\Hamza Ali Joiyah\\Desktop\\Data Science Project\\UCI HAR Dataset\\UCI HAR Dataset\\train\\subject_train.txt', sep = "delimiter", header = None)

C:\Users\Hamza Ali Joiyah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [36]:
subject_train

       0
0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
...   ..
7322  30
7323  30
7324  30
7325  30
7326  30
7327  30
7328  30
7329  30
7330  30
7331  30
7332  30
7333  30
7334  30
7335  30
7336  30
7337  30
7338  30
7339  30
7340  30
7341  30
7342  30
7343  30
7344  30
7345  30
7346  30
7347  30
7348  30
7349  30
7350  30
7351  30

[7352 rows x 1 columns]